{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crear Usuario</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <nav class="nav-menu">
            <a href="{% url 'index' %}" class="active">Crear Usuario</a>
            <a href="{% url 'modificar_usuario' %}">Modificar Usuario</a>
            <a href="{% url 'lista_usuarios' %}">Lista de Usuarios</a>
            <a href="{% url 'generar_factura' %}">Generar Factura</a>
            
        </nav>

        
        <div class="header-container">
            <img src="{% static 'images/akualogo2.webp' %}" alt="Akua Logo">
            <h1>Crear Nuevo Usuario</h1>
        </div>
        

        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="message {{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        
        <div class="form-container">
            <form method="POST" class="create-user-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="submit-btn">Crear Usuario</button>
            </form>
        </div>
    </div>

    <script src="{% static 'scripts.js' %}"></script>
</body>
</html>
